body {
    margin: 0;
    background: #0d0f18;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.card {
    width: 420px;
    background: #0b0d17;
    border: 2px solid #5d2eff;
    border-radius: 22px;
    padding: 40px 35px;
    text-align: center;
}

.back-row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.back-row i {
    font-size: 22px;
    color: white;
    cursor: pointer;
}

.back-row h2 {
    font-size: 26px;
    font-weight: 600;
}


h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
}

.tab-row {
    margin-top: 25px;
    display: flex;
    background: #181b29;
    padding: 6px;
    border-radius: 12px;
}

.tab {
    flex: 1;
    padding: 12px 0;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
    color: #d1d1d1;
}

.tab.active {
    background: #a259ff;
    color: white;
}

.input-group {
    margin-top: 25px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    height: 50px;
}

.phone-code {
    width: 70px;
    background: #ffffff;
    border-right: 1px solid #ccc;
    padding-left: 20px;
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
}

.input {
    flex: 1;
    padding: 0 15px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
}

.icon {
    padding: 0 15px;
    font-size: 18px;
    color: #333;
}

.forgot {
    text-align: left;
    margin-top: 10px;
    font-size: 13px;
    color: #c6c6ff;
}

.forgot a {
    color: #a259ff;
    text-decoration: none;
}

.submit-btn {
    margin-top: 25px;
    width: 100%;
    height: 50px;
    background: white;
    color: #333;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
}

.back-home {
    display: block;
    margin-top: 15px;
    color: white;
    font-size: 14px;
}

.back-home a {
    color: white;
}

.secure-text {
    margin-top: 15px;
    font-size: 13px;
    color: #bdbdbd;
}
